.root {
  max-height: 320px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 3px; /* ширина полосы прокрутки */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #999; /* Цвет "ползунка" полосы прокрутки */
    border-radius: 5px; /* Закругляем уголки "ползунка" */
  }
}